body {
  background-image: url("VIDEOBACKUntitled-26.png");
  background-repeat: no-repeat;
  background-color: black;
}

.videos{
  margin-top: 400px;;
  position: center;
}

.videos src {
/* margin-top: 30%; */
  width: 30%;
  height: 30%;
  text-align: center;
  position: center;
}
