body{
  background-color:black;
}


.textbox{
  font-size: 20px;
  text-indent: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.over-img5{
  position: absolute;
  top:70%;
  left:60%;

}

.over-img7{
  position: absolute;
  top:80%;
  left:5%;

}
